:root {
  --bg-color: #111111;
  --soft-black: #222222;
  --radius-wanted: 32px;
  --trans-time: 0.2s;
}

#urlbar-container {
  transition: var(--trans-time);
  background-color: #222222;
  border-radius: 16px;
}

#urlbar-container:hover {
  background-color: #333333;
}

#urlbar-searchmode-switcher {
  display: none;
}

.urlbar-input-box {
  margin-left: 16px;
  background-color: none;
  border-color: #ffffff;
}


#urlbar-background {
  display: none !important;;
}

#identity-box {
  border-radius: 0 !important;
}

.urlbarView {
  background-color: var(--bg-color);
  box-sizing: border-box;
  border-radius: var(--radius-wanted);
  margin-top: 16px;
  box-shadow: 8px 8px 10px var(--bg-color);
  padding: 6px;
}

.urlbarView-body-inner {
  border: none !important;
}

.urlbarView-row {
  border-radius: 300px !important;;
}

.urlbarView-row > .urlbarView-row-inner {
  border-radius: 16px !important;
}

.urlbarView-row:hover > .urlbarView-row-inner {
  background-color: #222222 !important;
}

#nav-bar {
  padding: 8px !important;
  background-color: #00000000 !important;
  border: none !important;
}

 window, #main-window, #toolbar-menubar, #TabsToolbar, #navigator-toolbox,#sidebar-box{

background-color: rgb(0, 0, 0, 0) !important;

-moz-appearance: none !important;

background-image: none !important;

} 

.tab-stack {
  transition: var(--trans-time);
  background-color: var(--bg-color);
  border-radius: var(--radius-wanted);
}

.tab-background {
  background-color: transparent !important;
  border-radius: var(--radius-wanted) !important;;
}

.tab-stack:hover {
  background-color: #222222;
}

#PersonalToolbar {
  background-color: var(--bg-color) !important;;
  color: #444444 !important;;
}

#PersonalToolbar .text-link {
  color: #444444 !important;
}

#nav-bar {
  background-color: var(--bg-color) !important;
  margin-top: 8px;
  border-radius: var(--radius-wanted) var(--radius-wanted) 0 0;
  border-bottom: 0 !important;
}

#tabs-newtab-button {
  transition: var(--trans-time);
  background-color: var(--bg-color) !important;
  aspect-ratio: 1/1; 
  margin-left: 2px !important;;
  margin-right: 8px !important;
  border-radius: var(--radius-wanted);
}

#tabs-newtab-button:hover {
  background-color: #222222 !important;;
}

#tabs-newtab-button:hover > .toolbarbutton-icon {
  background-color: transparent !important;; 
}

#firefox-view-button {
  transition: var(--trans-time);
  border-radius: var(--radius-wanted) !important;
  width: 44px !important;
  padding: 0 !important;
  background-color: var(--bg-color) !important;
}

#firefox-view-button:hover {
  background-color: #222222 !important;;
}

#firefox-view-button image {
  box-sizing: border-box;
  padding: 16px;
  
}

#firefox-view-button:hover > image {
  background-color: #00000000 !important;
}

#tabbrowser-tabs {
  border: none !important;
  margin-left: 0px !important;
}

.tab-close-button {
  transition: var(--trans-time);
  border-radius: var(--radius-wanted) !important;
}

.tab-close-button:hover {
  background-color: #444444 !important;
}

#alltabs-button:hover {
  background-color: #222222 !important;;
}

#navigator-toolbox {
  border: none !important;
}

#urlbar-container {
  border-radius: var(--radius-wanted) !important;;
}

#alltabs-button {
  transition: var(--trans-time);
  border-radius: var(--radius-wanted) !important;
  width: 44px !important;
  padding: 0 !important;
  background-color: var(--bg-color) !important;
}

#urlbar-zoom-button {
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
}

#PanelUI-button {
  width: 44px !important;
  transition: var(--trans-time);
  background-color: #222222 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-right: 4px;
}

#PanelUI-button:hover {
  background-color: #333333 !important;;
}

#PanelUI-menu-button {
  width: 44px !important;
  padding: 0px !important;
  margin: 0 !important;
}

#star-button-box{
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-right: 4px;
}

#tracking-protection-icon-container {
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-left: 4px;
}

#identity-permission-box {
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-left: 4px;
}

#identity-icon-box {
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-left: 4px;
}

#translations-button {
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-right: 4px;
}

#picture-in-picture-button {
  transition: var(--trans-time);
  background-color: #333333 !important;
  border-radius: var(--radius-wanted) !important;;
  margin-right: 4px;
}

#tracking-protection-icon-container:hover {
  background-color: #555555 !important;
}

#star-button-box:hover {
  background-color: #555555 !important;
}

#identity-permission-box:hover {
  background-color: #555555 !important;
}

#picture-in-picture-button:hover  {
  background-color: #555555 !important;
}

#translations-button:hover  {
  background-color: #555555 !important;
}

#identity-icon-box:hover {
  background-color: #555555 !important;
}

#nav-bar-customization-target > toolbarbutton {
  transition: var(--trans-time) !important;;
  padding: 0 !important;
  width: 44px !important;;
  height: 44px !important;
  background-color: #222222 !important;
  border-radius: var(--radius-wanted) !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

#stop-reload-button > toolbarbutton{
  transition: var(--trans-time) !important;;
  padding: 0 !important;
  width: 44px !important;;
  height: 44px !important;
  background-color: #222222 !important;
  border-radius: var(--radius-wanted) !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

#nav-bar-customization-target > toolbarbutton:hover { 
  background-color: #333333 !important;;
}

#stop-reload-button > toolbarbutton:hover { 
  background-color: #333333 !important;
}

#nav-bar-customization-target > toolbarbutton > image {
  background-color: #00000000 !important;
}

#stop-reload-button > toolbarbutton > image {
  background-color: #00000000 !important;
}

#new-tab-button  {
  transition: var(--trans-time);
  background-color: var(--bg-color) !important;
  aspect-ratio: 1/1; 
  margin-left: 2px !important;;
  margin-right: 8px !important;
  border-radius: var(--radius-wanted);
  width: 44px !important;
  height: 44px !important;
}

#scrollbutton-down {
  transition: var(--trans-time);
  background-color: var(--bg-color) !important;
  margin-left: 2px !important;;
  margin-right: 8px !important;
  border-radius: var(--radius-wanted);
  width: 44px !important;
  height: 44px !important;
  padding: 0px !important;
}



#new-tab-button :hover {
  background-color: #222222 !important;;
}

#new-tab-button :hover > .toolbarbutton-icon {
  background-color: transparent !important;; 
}


#tab-preview-panel {
  background-color: var(--bg-color) !important;
  border: none !important;
}

#tab-preview-panel > .tab-preview-text-container {
  background-color: var(--bg-color) !important;
  border-radius: var(--radius-wanted) !important;
}

#tab-preview-panel::part(content) {
    background: none !important;
    border: none !important;
}

#tab-preview-panel {
  --panel-background: #00000000 !important;
  --panel-border-color: #00000000 !important;
  border: none !important;
  margin-top: 8px !important;
  margin-left: 4px !important;
}

panel::part(content) {
    border: 16px solid #00ffff !important;   
}

panelmultiview {
  background-color: var(--bg-color)
}

.toolbarbutton-badge-stack {
  background-color: #ffffff00 !important;
}